nav {
      background-color:#1F2833;/* Dark background */
      display: flex;
      justify-content:space-around;
      gap: 100px;
      padding: 0px 10px;
      position:sticky;
      top: 0;
      align-items: center;
      
     
  
    }

    nav ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: end;
       text-align: end
      
      
    }

    nav ul li {
      margin-left: 55px;
    }

    nav ul li a {
      text-decoration: none;
      text-align:end;
      color:#66FCF1;
      font-size: 16px;
      font-weight: bold;
      transition: color 0.3s ease;
      margin-left: 50px;
      
    }

    
    #active {
      color: #C9B59C;
    }
body { 
  font-family: Arial, sans-serif; margin: 0; padding: 0px; 
  background:#0f0f0f;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: left;
  width: 100%;
      height: 100vh;
 } 

* {
  box-sizing: border-box;
  
}

body {
  padding: 10px;
  color: #212d31;
  font-family:monospace
}

.contain {
  background-color: aqua;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  margin-top: 50px;
  width:900px;
  border-radius: 20px;
}

div.form {
  background-color: #51726e;
  width: 440px;
   border-radius: 20px;
}

.submit-btn {
  float: left;
}


.hightlight-contact-info {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
}

.highlight-text-grey {
  font-weight: 500;
}

.email-info {
    margin-top: 20px;
    color: #212d31;
    text-align: center;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


.required-input {
  color: black;
}



h3 {
  margin-bottom: 1rem;
}


.form-input,
textarea {
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.wrapper > * {
  padding: 1em;
}
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .wrapper > * {
    padding: 2em 2em;
  }
}



.contacts {
  color: #212d31;
}

.form {
  background: #fff;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
form label {
  display: block;
}
form p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}

button,
.submit-btn,
.form-input,
textarea {
  padding: 1em;
}

button, .submit-btn {
  background: transparent;
  border: 1px solid #1cdeec;
  color: black;
  border-radius: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
}
.fa-square-instagram{
    font-size: 70px;
    background: aqua;
    color:#0B0C10;
    



}
.fa-github{
    font-size: 70px;
    background: transparent;
     color:#0B0C10;



}
.fa-linkedin
{
    font-size: 70px;
    background: transparent;
     color:#0B0C10;



}
