nav {
      background-color:#1F2833;/* Dark background */
      display: flex;
      justify-content:space-around;
      gap: 100px;
      padding: 0px 10px;
      position:sticky;
      top: 0;
      align-items: center;
      
     
  
    }

    nav ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: end;
       text-align: end
      
      
    }

    nav ul li {
      margin-left: 55px;
    }

    nav ul li a {
      text-decoration: none;
      text-align:end;
      color:#66FCF1;
      font-size: 16px;
      font-weight: bold;
      transition: color 0.3s ease;
      margin-left: 50px;
      
    }

    
    #active {
      color: #C9B59C;
    }
body { 
  font-family: Arial, sans-serif; margin: 0; padding: 0px; 
  background:#0B0C10;background-repeat: no-repeat;
  background-size:contain;
  background-position: left;
  width: 100%;
      height: 100vh;
 } 
 .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 8px;
  flex-wrap: wrap;
  flex-direction: column-reverse;
 text-align: center;
  
}
 .image {
  flex: 2 5 70%;
  display: flex;
  justify-content: right;
  padding: 0px;
}



.img-box img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  display: block;
}

.text-content{
  flex: 1;
  max-width: 500px;
  line-height: 1.2;
  color:aliceblue;;
  text-align: center;
  max-width: 100%;
  font-family:droid serif;
}
.fa-square-instagram{
    font-size: 70px;
    
    color:aqua;
    



}
.fa-github{
    font-size: 70px;
    background: transparent;
     color:aqua;



}
.butn{
 background: transparent;
  border: 1px solid #1cdeec;
  color: black;
  border-radius: 15px;
  padding: 5px 20px;
  text-transform: uppercase;
  color: aqua;
}


 

 
    